@media only screen and (max-width: 768px){
  #inputstyletextarea{
    font-size:1.2vw !important;
  }
  #slidertext{
    font-size:1.6vw !important;
    margin-right:-2vw !important;
    font-family:"calibri",sans-serif;
    }
  .dateStyle{
  border:1px solid #D0D3D4;
  height:4.2vw !important;
width:98% !important;
  padding-left:1vw;
  }
  .overtimeDiv{
    margin-left:10vw !important;
  }
  #radiocheck{
  margin-left: 2vw !important;
  font-size:1.3vw !important;
  color:grey !important;
  }
  .overtimePay p{
    position:relative;
    left:1.5vw !important;
    right:1vw !important;
    font-size:1.5vw !important;
  }
  .enableBtn{
    margin-left:3vw !important;
    margin-top:-1vw !important;
    height:2vw !important;
    width:6vw;
    font-size:1.3vw !important;
    border:1px solid grey;
  }
  .enableBtnactive{
    margin-left:4vw !important;
    height:2.5vw !important;
    width:6vw;
    font-size:1.3vw !important;
    background-color:#B5E61D;
  }
  .disableBtn{
    height:2vw !important;
    width:6vw;
    margin-left:0.2vw !important;
    font-size:1.3vw !important;
    border:1px solid grey;
  }
  .disableBtnactive{
    height:2.5vw !important;
    width:6vw;
    font-size:1.3vw !important;
    background-color:red;
  }
  .labelStyle1{
    font-size:1.5vw !important;
    margin-bottom:-1vw;
    font-style:arial;
  }
  #inputstyle{
    width:98%;
    height:4vw !important;
    font-size:1.3vw !important;
    box-shadow:none !important;
    border-color:#D7D7D7 !important;
  }
  #inputstyletextarea{
    width:82%;
    height:5vw !important;
    font-size:0.7vw;
    box-shadow:none !important;
    border-color:#D7D7D7 !important;
  }
  .empDesign{
  font-size:1.2vw !important;
  }
  .empPhone{
    font-size:1.2vw !important;
  }
  .empId{
    font-size: 1.2vw !important;
  }
  #paginationarrow{
    font-size:1.8vw !important;
    position:relative;
    top:0.3vw !important;
  }
  #listforlaptop{
    display:none;
  }
  #listfortab{
display:flex !important;
  }
}
#listfortab{
display:none;
}
.hyperLinkEmployee{
color:black !important;
font-weight:200;
}
.pagination{
  float:right !important;
  right:0.5vw !important;
  position:relative;
  top:2vw !important;
}
.dateStyle{
  position:relative;
  height:2vw;
  padding-left:1vw;

}
#skipstyle{
  position:relative;
  left:1vw;
  color:orange;
}
.sliderlineorange{
  background-color:orange;
  height:1.8vw;
  width:0.15vw;
  position:relative;
  right:5vw;
  top:2.9vw;
}
.sliderline{
  background-color:black;
  height:1.8vw;
  width:0.15vw;
  position:relative;
  right:5vw;
  top:2vw;
}
.labelStyle1{
  font-size:1vw;
  margin-bottom:-1vw;
  font-weight: lighter;
  font-style:arial;
}
.slideremp{
position:relative;
right:2vw;
bottom:13.8vw;
}
.empName{
  color:#FF9527;
 position:relative;
 top:-0.7vw;
  font-size:0.77vw;
  text-align:center;
}
.pagination{
position:relative;
top:0.5vw;
margin-bottom:2vw;
right:-56vw;
font-size:1vw;
  color:grey;
  height:5vw;
}
#paginationtrue{
  border:1px solid gray;
  background-color:#B5E61D;
  border-radius:20%;
  padding:0vw 0.5vw 0vw 0.4vw;
  margin-right:0.5vw;
  cursor:pointer;
  text-align:center;
}
#paginationfalse{
  border:1px solid gray;
  border-radius:20%;
  background-color:lightgray;
  color:grey;
  padding:0vw 0.5vw 0vw 0.4vw;
  margin-right:0.5vw;
  cursor:pointer;
}
#btnManual{
position:relative;
left:1vw;
box-shadow:none;
}
#btnAuto{
position:relative;
left:2vw;
box-shadow:none;
}

.empDesign{
margin-top:0.5vw;
font-size:0.8vw;
color:#566573  ;
}
.empId{
margin-top:-1vw;
font-size:0.8vw;
color:#787878;
}
.empPhone{
font-size:0.8vw;
color:#787878;
position:relative;
top:-1vw;
}
.overtimeDiv{
  margin-left:8vw;
  color:grey;
}
.overtimePay{
  position:relative;
  left:1.3vw;
}
.enableBtn{
  margin-left:2vw;
  height:1.7vw;
  width:6vw;
  font-size:0.8vw;
  border:1px solid grey;
}
.enableBtnactive{
  margin-left:2vw;
  height:1.7vw;
  width:6vw;
  font-size:0.8vw;
  background-color:#B5E61D;
}

.disableBtn{
  height:1.7vw;
  width:6vw;
  margin-left:0.1vw;
  font-size:0.8vw;

  border:1px solid grey;
}
.disableBtnactive{
  height:1.7vw;
  width:6vw;
  font-size:0.8vw;
background-color:red;

}
.formStyle{
  padding-top:1.5vw;
  padding-bottom:1vw;
}
#inputstyle{
  width:98%;
  height:2vw;
  font-size:0.7vw;
  box-shadow:none !important;
   border-color:#D7D7D7 !important;
}
#inputstyletextarea{
  width:82%;
  height:3vw;
  font-size:0.7vw;
  box-shadow:none !important;
  border-color:#D7D7D7 !important;
}

#buttonstyle{
  border-color:#FF7F27 !important;
  margin-top:1vw;
  color:grey;
  width:12%;
  font-size:0.9vw;
  height:2vw;
}

input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #66CC75;
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}
input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat  9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 0.3px;
  height:0.8vw;
  color:grey;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
  cursor:pointer;
  position:relative;
  right:1vw;
}
input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}
input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}
