#mainmenu{

}
#sidemenu{

}
.dropDownStyle1{
  background-color:#1768C1;
  font-size:0.9vw;
  border:none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius:-20%;
margin-top:-8.5px;
margin-left:-40px;
  width:200px;
  min-height:5.5vw;
  overflow:hidden;
  text-align:center;
}
.dropDownLeaves1{
  background-color:#1768C1;
  font-size:0.9vw;
  border:none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius:-20%;
margin-top:-8.5px;
margin-left:-40px;
  width:200px;
  min-height:5.5vw;
  overflow:hidden;
  text-align:center;
}
.dropDownClaims1{
  background-color:#1768C1;
  font-size:0.9vw;
  border:none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius:-20%;
margin-top:-8.5px;
margin-left:-52px;
  width:200px;
  min-height:5.5vw;
  overflow:hidden;
  text-align:center;
}
.dropDownPayroll1{
  background-color:#1768C1;
  font-size:0.9vw;
  border:none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius:-20%;
margin-top:-8.5px;
margin-left:-53px;
  width:200px;
  min-height:5.5vw;
  overflow:hidden;
  text-align:center;
}
.dropDownStyleProfile1{
  background-color:#1768C1;
  font-size:0.9vw;
  border:none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius:-20%;
  position:relative;
margin-left:-90px;
  width:30px;
  min-height:5vw;
  overflow:hidden;
  text-align:center;
}
.dropDownStylesidenav{
  background-color:#2C3E50;
  font-size:1.9vw;
  border:none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius:-20%;
  position:relative;
  top:1vw;
  left:-70px;
  width:200px;
  min-height:5.5vw;
  overflow:hidden;
  text-align:center;
}
.dropDownProfilesidenav{
  background-color:#2C3E50;
  font-size:0.9vw;
  border:none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius:-20%;
  position:relative;
  top:2.485vw;
margin-right:3.5vw;
  width:30px;
  min-height:5vw;
  overflow:hidden;
  text-align:center;
}
.dropDownClaimssidenav{
  background-color:#1768C1;
  font-size:1.9vw;
  border:none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius:-20%;
  position:relative;
  top:2.769vw;
  left:-70px;
  width:200px;
  min-height:5.5vw;
  overflow:hidden;
text-align:center;
}
.dropDownPayrollsidenav{
  background-color:#1768C1;
  font-size:1.9vw;
  border:none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius:-20%;
  position:relative;
  top:-2.769vw;
padding-bottom:2vw;
  left:-70px;
  width:200px;
  min-height:5.5vw;
  overflow:hidden;
  text-align:center;
}
.dropDownLeavessidenav{
  background-color:#1768C1;
  font-size:1.9vw;
  border:none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius:-20%;
  position:relative;
  top:2.769vw;
  left:-70px;
  width:200px;
  min-height:5.5vw;
  overflow:hidden;
  text-align:center;
}
.logoright{
  position:relative;
  right:30vw;
  top:-1vw;
font-size:4vw;
  font-family:serif;

}
.logoright:hover{
    background-color:#123B6C;
}
.notificationIconright{
  position:relative;
  top:-1vw;
  right:8vw;
}
.upperNavIconright{
  position:relative;
  top:2.9vw;
  right:3vw;
}
.settingsIconright{
  position:relative;
top:-1.3vw;
left:-7vw;


}
@media(max-width:768px){
  .mainmenu{
    display:none !important;
  }
  .navbar{
    height:30px !important;
  }
  .openslide{
    position:relative;
    left:-15vw;
    top:2.5vw;

  }
  .rightnav{
    position:relative;
    right:-70vw;
    bottom:3.5vw;
  }
  #btnclose{
    position:relative;
  right:2vw;
  }
.dropDownStyleProfileright{
  background-color:#1869C3;
  font-size:1.4vw;
  border:none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius:-20%;
  margin-top:20px;
  position:relative;
  margin-left:-90px;
  width:20px;
  min-height:5vw;
  overflow:hidden;
  text-align:center;
}

}

@media(max-width:320px){
  .openslide{
    position:relative;
    left:-8vw;
    top:2vw;
  }
  #btnclose{
  position:relative;
  right:3vw;
  }
.sidenav{
  min-height:100%;
  overflow-y: hidden;
  position:fixed;
  z-index:1;
  top:2vw !important;
  left:0;
  background-color:#1768C1 !important;
  overflow-x:hidden;
  transition:transform 5s ease;
  width:100%;
}

}
@media(min-width:1024px){
  .openslide{
    display:none !important;
  }
}
.navbar{
  background-color:#2C3E50;
  min-height:150px;
    overflow:hidden;
}
.navbar li{
  float:left;
  display:block;
  color:#ffffff;
  text-align: center;
  padding:14px 16px;
  text-decoration:none;
  font-size:1vw;
}
.navbar ul{
  padding:4px 0 0 0;
  list-style: none;
}
.iconcolor{
  color:white !important;
  text-decoration:none !important;
}

.downIcon{
  color:white;
}
.sidenav{
  min-height:100%;
  overflow-y: hidden;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#1869C3;
  overflow-x:hidden;
  transition:transform 5s ease;
  padding-top:40px;
  padding-left:-20px;

}
.sidenav li{
  padding:10px 10px 43px 10px;
  text-decoration:none;
  font-size:15px;
  color:#fff;
  display:block;
  transition:3s;
}
.sidenav a:hover{
  color:#fff;
}
.sidenav #btnclose{
  position:absolute;
  top:3vw;
  margin-left:37vw;
  font-size:36px;
  color:#fff;
  cursor:pointer;
}
#mainmenuicon{
float:right;

}#mainmenu{

}
#sidemenu{

}
.dropDownStyle1{
  background-color:#1768C1;
  font-size:0.9vw;
  border:none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius:-20%;
margin-top:-8.5px;
margin-left:-40px;
  width:200px;
  min-height:5.5vw;
  overflow:hidden;
  text-align:center;
}
.dropDownLeaves1{
  background-color:#1768C1;
  font-size:0.9vw;
  border:none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius:-20%;
margin-top:-8.5px;
margin-left:-40px;
  width:200px;
  min-height:5.5vw;
  overflow:hidden;
  text-align:center;
}
.dropDownClaims1{
  background-color:#1768C1;
  font-size:0.9vw;
  border:none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius:-20%;
margin-top:-8.5px;
margin-left:-52px;
  width:200px;
  min-height:5.5vw;
  overflow:hidden;
  text-align:center;
}
.dropDownPayroll1{
  background-color:#1768C1;
  font-size:0.9vw;
  border:none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius:-20%;
margin-top:-8.5px;
margin-left:-53px;
  width:200px;
  min-height:5.5vw;
  overflow:hidden;
  text-align:center;
}
.dropDownStyleProfile1{
  background-color:#1768C1;
  font-size:0.9vw;
  border:none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius:-20%;
  position:relative;
margin-left:-90px;
  width:30px;
  min-height:5vw;
  overflow:hidden;
  text-align:center;
}
.dropDownStylesidenav{
  background-color:#2C3E50;
  font-size:1.9vw;
  border:none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius:-20%;
  position:relative;
  top:1vw;
  left:-70px;
  width:200px;
  min-height:5.5vw;
  overflow:hidden;
  text-align:center;
}
.dropDownProfilesidenav{
  background-color:#2C3E50;
  font-size:0.9vw;
  border:none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius:-20%;
  position:relative;
  top:2.485vw;
margin-right:3.5vw;
  width:30px;
  min-height:5vw;
  overflow:hidden;
  text-align:center;
}
.dropDownClaimssidenav{
  background-color:#1768C1;
  font-size:1.9vw;
  border:none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius:-20%;
  position:relative;
  top:2.769vw;
  left:-70px;
  width:200px;
  min-height:5.5vw;
  overflow:hidden;
text-align:center;
}
.dropDownPayrollsidenav{
  background-color:#1768C1;
  font-size:1.9vw;
  border:none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius:-20%;
  position:relative;
  top:-2.769vw;
padding-bottom:2vw;
  left:-70px;
  width:200px;
  min-height:5.5vw;
  overflow:hidden;
  text-align:center;
}
.dropDownLeavessidenav{
  background-color:#1768C1;
  font-size:1.9vw;
  border:none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius:-20%;
  position:relative;
  top:2.769vw;
  left:-70px;
  width:200px;
  min-height:5.5vw;
  overflow:hidden;
  text-align:center;
}
.logoright{
  position:relative;
  right:30vw;
  top:-1vw;
font-size:4vw;
  font-family:serif;

}
.logoright:hover{
    background-color:#123B6C;
}
.notificationIconright{
  position:relative;
  top:-1vw;
  right:8vw;
}
.upperNavIconright{
  position:relative;
  top:2.9vw;
  right:3vw;
}
.settingsIconright{
  position:relative;
top:-1.3vw;
left:-7vw;


}
@media(max-width:768px){
  .mainmenu{
    display:none !important;
  }
  .navbar{
    height:30px !important;
  }
  .openslide{
    position:relative;
    left:-15vw;
    top:2.5vw;

  }
  .rightnav{
    position:relative;
    right:-70vw;
    bottom:3.5vw;
  }
  #btnclose{
    position:relative;
  right:2vw;
  }
.dropDownStyleProfileright{
  background-color:#1869C3;
  font-size:1.4vw;
  border:none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius:-20%;
  margin-top:20px;
  position:relative;
  margin-left:-90px;
  width:20px;
  min-height:5vw;
  overflow:hidden;
  text-align:center;
}

}

@media(max-width:320px){
  .openslide{
    position:relative;
    left:-8vw;
    top:2vw;
  }
  #btnclose{
  position:relative;
  right:3vw;
  }
.sidenav{
  min-height:100%;
  overflow-y: hidden;
  position:fixed;
  z-index:1;
  top:2vw !important;
  left:0;
  background-color:#1768C1 !important;
  overflow-x:hidden;
  transition:transform 5s ease;
  width:100%;
}

}
@media(min-width:1024px){
  .openslide{
    display:none !important;
  }
}
.navbar{
  background-color:#2C3E50;
  min-height:150px;
    overflow:hidden;
}
.navbar li{
  float:left;
  display:block;
  color:#ffffff;
  text-align: center;
  padding:14px 16px;
  text-decoration:none;
  font-size:1vw;
}
.navbar ul{
  padding:4px 0 0 0;
  list-style: none;
}
.iconcolor{
  color:white !important;
  text-decoration:none !important;
}

.downIcon{
  color:white;
}
.sidenav{
  min-height:100%;
  overflow-y: hidden;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#1869C3;
  overflow-x:hidden;
  transition:transform 5s ease;
  padding-top:40px;
  padding-left:-20px;

}
.sidenav li{
  padding:10px 10px 43px 10px;
  text-decoration:none;
  font-size:15px;
  color:#fff;
  display:block;
  transition:3s;
}
.sidenav a:hover{
  color:#fff;
}
.sidenav #btnclose{
  position:absolute;
  top:3vw;
  margin-left:37vw;
  font-size:36px;
  color:#fff;
  cursor:pointer;
}
#mainmenuicon{
float:right;

}
