@media(max-width:320px){
#navbar{
height:400px;
  color:white !important;

}
#dropdownmenu{
  background-color:red !important;
  box-shadow:none !important;
  border:none !important;
  margin-bottom:-15vw;
}
#navcontenthome{
  color:white;
  font-size:10.5vw;
}
}
#navbar{
  background-color:#1768C1 !important;
  position:relative;
  top:5vw;
  border:none;
  color:white;
  min-height:150%;
  overflow:auto;
}
#dropdownmenu{
  background-color:#1768C1;
  box-shadow:none !important;
  border:none !important;
  margin-bottom:-15vw;
}
#navcontenthome{
  color:white;
  font-size:2.5vw;
    margin-bottom:-5vw;
}
#navcontent{
  color:white;
  border:1px solid #13519A;
  background-color:#13519A !important;
  position:relative;
  top:-2vw;
}
#navcontentfirst{
  color:white;
  border:1px solid #13519A;
    background-color:#13519A !important;
    position:relative;
    top:3vw;
}
#navcontentlast{
  color:white;
  border:1px solid #13519A;
    background-color:#13519A !important;
    position:relative;
    bottom:7vw;
}
#navcontent:hover{
  background-color:#2C3E50;
  color:orange;
}
