@media only screen and (max-width: 768px){
  .cardStyle1{
  height:20vw !important;

  }
  .linkmore{
    font-size:1vw !important;
  }
  .empRow{
    margin-left:1.3vw;
    margin-top:5.5vw !important;
    color:gray;
    font-size:0.93vw;
  }
  .empTextP{
    padding-right:3vw;
  }
  .empTextA{
    position:relative;
    left:1.7vw !important;
  }
  .empTextOL{
    position:relative;
    left:7.2vw !important;
  }
  .empTextL{
    position: relative;
    left:12vw !important;
  }
  .empTextOT{
    position: relative;
    left:17vw !important;
  }
  .calendarText{
  position:relative;
  right:0.8vw !important;
  bottom:0.5vw !important;
  float:right !important;
  font-size:0.9vw !important;
  }
  #empCalendar{
    position:relative;
    top:-1.23vw !important;
  left:5vw !important;
  font-size:1.35vw !important;
  }

  .holidaysCard{
    position:relative;
    top:-1.3vw !important;
  }

  .cardStyle2{
    height:14vw !important;
  }
  .cardStyle{
    height:6vw !important;
    width:130% !important;
    margin-right:-5vw !important;
    margin-top:-1vw !important;

  }
  .cardStyle3{
    height:14vw !important;
  }
  .cardStyle4{
    height:14vw !important;
  }
  .holidayTextR{

    margin-top:-0.5vw;
    font-size:1.2vw !important;
    color:blue;
  }
  .holidayTitleR{
    color:orange;
    font-size:3.7vw !important;

  }
  .holidayDayR{
    color:black;
    margin-top:-3vw;
    font-size:1.3vw !important;
  }
}
.cardStyle1{
  height:18vw !important;
   background-color:#FFFFFF;
   border:none;
     box-shadow:-0.01px 3px 8px 0.1px gray !important;
}

.pagination{
position:relative;
left:17vw;
font-size:0.5vw;
  color:grey;
}
.holidaysCard{
  border:none;
}
#holidaysLeft{
  color:gray;
  position:relative;
right:1vw;
width:100vw;
}
#holidaysRight{
  color:gray;
  position:relative;
  left:1vw;
}
#repoteesLeft{
  color:gray;
  position:relative;
  right:4.5vw;
}
#repoteesRight{
  color:gray;
  position:relative;
  left:3.3vw;
}
.circleAlignment{
  position:relative;
  left:3.5vw;
bottom:7.5vw;
}
#repoteeimg{
  width:7vw;
  height:7vw;
}
.repoteediv{
  position:relative;

}
.cardStyle2{
  height:12vw;
   background-color:#FFFFFF;
   border:none;
   box-shadow:-0.01px 3px 8px 0.1px 	gray;
   width:103%;
}
.cardStyle3{
  height:12vw;
  margin-left:1vw;
   margin-right:-0.5vw;
   background-color:#FFFFFF;
   border:none;
   box-shadow:-0.01px 3px 8px 0.1px 	gray;

}
.cardStyle4{
  height:12vw;
position:relative;
left:0.5vw;
width:97%;
   background-color:#FFFFFF;
   border:none;
 box-shadow:-0.01px 3px 8px 0.1px 	gray;

}

.giftIcon{
  color:gray;
  position:relative;
bottom:-0.25vw;
right:0.5vw;
}
.anouncementStyle{
  color:gray;
  position:relative;
  left:0.3vw;
  top:0.2vw;
}
.calendarText{
position:relative;
right:0.7vw;
bottom:0.3vw;
float:right;
font-size:0.7vw;
}
#empCalendar{
  position: relative;
  top:0.23vw;
  right:1.5vw;
}
.empicons{
  color:black;
  margin-left:24.8vw;
  margin-top:-2.3vw;
  font-size:0.2vw;
}

.linkDepartment{
  color:white !important;
  text-decoration: none;
}
.linkmore{
  color:gray !important;
  text-decoration:none;
  font-size:0.75vw;
}
.cardStyle{
  height:5vw;
 background-color:#FFFFFF;
 border-color:#B2BABB  ;
 box-shadow:-0.01px 1px 1px 0.1px 	#D0D3D4;
 text-align:justify;
 color:red;
}
#droptoggle{
  background-color:orange;
  color:blue;
  border:1px solid white;
}
#dropitem:hover{
background-color:white !important;
color:orange;
}
#dropitem{
  cursor:pointer;
}
.empRow{
  margin-left:1.3vw;
  margin-top:3vw;
  color:gray;
  font-size:0.93vw;
}
.empTextP{
  padding-right:3vw;
}
.empTextA{
  position:relative;
  left:-0.3vw;
}
.empTextOL{
  position:relative;
  left:2.4vw;
}
.empTextL{
  position: relative;
  left:5vw;
}
.empTextOT{
  position: relative;
  left:8.5vw;
}

.transition{
  text-align:center;
}

.holidayIconR{
  color:lightgray;
  position:relative;
  bottom:5.5vw;
  margin-left:12vw;

}
.holidayTextR{

  margin-top:-0.5vw;
  font-size:0.9vw;
  color:blue;
}
.holidayTitleR{
  color:orange;
  font-size:3.3vw;

}
.holidayDayR{
  color:black;
  margin-top:-3vw;
  font-size:0.95vw;
}
.holidayIconL{
  color:lightgray;
  position:relative;
  top:2vw;
  right:5vw;
}
.holidayTextL{

  margin-top:-0.5vw;
  font-size:0.8vw;
  color:blue;
}
.holidayTitleL{
  color:orange;
  font-size:3vw;

}
.holidayDayL{
  color:black;
  margin-top:-7vw;
  font-size:0.8vw;

}
